:root {
  --main-font-color: #272323;
  --main-font: 'Heebo', sans-serif;
  --main-font-weight: 300;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  color: var(--main-font-color);
}

.page-container {
  width: auto;
  padding: 3% 10%; 
  min-height: 90vh;
  margin-bottom: -50px;
}

/* Links */
a {
  color: var(--main-font-color);
  text-decoration: none;
}

.link-block a {
  margin: .75rem;
}

/* Main Footer */
footer {
  height: 50px;
  text-align: right;
  color: var(--primary);
  width: auto;
  padding: 0% 10%;
}

footer a:hover {
  text-decoration: underline;
}

.push {
  height: 50px;
}

/* Site Header */
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding-bottom: .5rem;
}

#logo img {
  height: 90px;
  padding-right: 2rem;
}

nav h1, nav h2 {
  margin: 0;
}

nav h1 {
  font-size: 1.75rem;
}

nav h2 {
  font-size: 1rem;
  font-weight: 300;
}

nav h2 span {
  padding-left: .5rem;
}

/* Buttons */
.text-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  padding: 0;
}

.text-button:hover{
  text-decoration: underline;
  cursor: pointer;
}



/* Smaller Screens */
@media (max-width: 620px) {

  nav {
    justify-content: center;
    text-align: center;
  }

  #logo img {
    padding: initial;
  }

  footer {
    text-align: center;
    font-size: .8rem;
  }
}